{% extends 'template/jhTemplateV3.html'%}
{% set appId = ctx.app.config.appId %}
{% set static = "/" + appId + "/public" %}
{% set language = ctx.app.config.language %}
{% block css %}

<link href="<$ static $>/jsoneditor/jsoneditor.css" rel="stylesheet">
<script src="<$ static $>/jsoneditor/jsoneditor.js"></script>
{% endblock %}
{% block vue_template %}

<jh-layout-v3>

  <template slot="serverSearch">
    <div class="mt-4" style="text-align: right;">
      <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)" style="height: 40px">
        保存
      </v-btn>
    </div>
  </template>

  <!-- 页面主要内容 -->
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
    <v-card>
      <v-form v-model="isFormValid" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">{{ currentClickButton.title }}信息</span>
          <v-spacer></v-spacer>
          <!-- <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
            <v-icon dark>mdi-close</v-icon>
          </v-btn> -->
        </v-row>
        <v-row class="pb-7" :class="{'px-10': !isMobile, 'px-3': isMobile}">

          <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">constantKey</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['constantKey']">
            </v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">常量类型</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['constantType']">
            </v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">页面id</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['pageId']">
            </v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">描述</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line v-model="editItem['desc']"></v-text-field>
          </v-col>

          <v-col cols="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">内容</span>
            <vue-json-editor v-if="jsonConstantTypeList.includes(editItem.constantType)" v-model="editItem[language]" :show-btns="true" :mode="'code'" lang="zh" @json-change="onJsonChange" @json-save="onJsonSave" @has-error="onError"></vue-json-editor>
            <v-textarea
              v-else-if="editItem.constantType === 'html'"
              filled single-line
              v-model="editItem[language]"
              name="input-7-4"
              label="filled single-line textarea"
              :rows="12"
              value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
            ></v-textarea>
            <v-text-field v-else class="cus-v-input mr-2" dense filled single-line label="常量内容" v-model="editItem[language]"></v-text-field>
          </v-col>
        </v-row>
      </v-form>
      <v-overlay :value="loading" absolute>
        <v-progress-circular
          indeterminate
          size="64"
        ></v-progress-circular>
      </v-overlay>
    </v-card>
  </v-container>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

{% include 'component/vueJsonEditor.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      isMobile: window.innerWidth < 600,
      // 表格相关数据
      language: '<$ language $>',
      isFormValid: true,
      requireRules: [
        v => !!v || 'This is required',
      ],
      currentClickButton: { title: '新增', action: 'add' },
      editItem: {},
      dialogSaveInfoAction: 'createItem',
      jsonError: false,
      jsonConstantTypeList: ['object', 'array'],
      loading: false
    }),
    async created() {
      const searchParams = new URLSearchParams(location.search.substring(1));
      const id = searchParams.get('id');
      if(id) {
        this.editItem = { id };
        this.doUiAction('getItemInfo')
      } else {
        this.clearItemData();
      }
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'createItem':
            await this.confirmCreateItemDialog(uiActionData);
            await this.doCreateItem(uiActionData);
            break;
          case 'updateItem':
            await this.confirmUpdateItemDialog(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.getItemInfo();
            break;
          case 'getItemInfo':
            await this.getItemInfo();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async clearItemData() {
        this.currentClickButton = { title: '新增', action: 'add' },
        this.editItem = {constantKey: '', constantType: '', pageId: '', desc: ''};
      },
      async getItemInfo() {
        const _this = this;
        this.loading = true;
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.dialogSaveInfoAction = 'updateItem';
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: "constantUiEditor",
              actionId: "getItemInfo",
              where: {id: this.editItem.id},
              actionData: {}
            },
          },
        })).data.appData.resultData;
        if (!rows.length) {
          this.clearItemData();
        } else {
          rows[0][this.language] = this.jsonConstantTypeList.includes(rows[0].constantType) ? JSON.parse(rows[0][this.language]) : rows[0][this.language];
        this.editItem = rows[0];
        }
        setTimeout(function() {
          _this.loading = false;
        }, 500)
      },
      /**
       * uiActionId:  createItem
       * description: ✅创建数据
       * before: [{"function":"confirmCreateItemDialog"}]
       * main:   [{"function":"doCreateItem"}]
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      async doCreateItem() {
        const {id, ...data} = this.editItem;
        data[this.language] = this.jsonConstantTypeList.includes(this.editItem.constantType) ? JSON.stringify(this.editItem[this.language]) : this.editItem[this.language];
        await window.vtoast.loading("新增数据");
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'constantUiManagement',
              actionId: 'insertItem',
              actionData: data
            }
          }
        })).data.appData.resultData;
        window.location.href = `/${window.appInfo.appId}/page/constantUiEditor?id=${rows[0]}`;
        await window.vtoast.success("新增数据成功");
      },

      /**
       * uiActionId:  updateItem
       * description: ✅更新数据
       * before: [{"function":"confirmUpdateItemDialog"}]
       * main:   [{"function":"doUpdateItem"}]
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      async doUpdateItem() {
        const {id, ...data} = this.editItem;
        data[this.language] = this.jsonConstantTypeList.includes(this.editItem.constantType) ? JSON.stringify(this.editItem[this.language]) : this.editItem[this.language];
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'constantUiManagement',
              actionId: 'updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      onJsonChange() {

      },
      onJsonSave(value) {
        if (this.jsonObj.type === 'ui') {
          this.ui.list[this.jsonObj.index][this.jsonObj.key] = JSON.stringify(value);
        } else {
          this.resource.list[this.jsonObj.index][this.jsonObj.key] = JSON.stringify(value);
        }
        this.editJsonDialog = false;
      },
      onError(res) {
        this.jsonError = res;
      },
    }
  })
</script>

<style scoped>
</style>
{% endblock %}
