{% extends 'template/jhTemplateV3.html'%}
{% set appId = ctx.app.config.appId %}
{% set static = "/" + appId + "/public" %}
{% set language = ctx.app.config.language %}
{% block css %}

<link href="<$ static $>/jsoneditor/jsoneditor.css" rel="stylesheet">
<script src="<$ static $>/jsoneditor/jsoneditor.js"></script>
{% endblock %}
{% block vue_template %}

<jh-layout-v3>


  <!-- 页面主要内容 -->
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
    <v-card>
      <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
        :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
          <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('createItem')">新增</v-btn>
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
          <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20" mobile-breakpoint="0"
        :loading="isTableLoading" checkbox-color="success" class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        <!--    <template v-slot:item.level="{ item }">-->
        <!--      {{ getConstantCollectionItemText('level', item.level) }}-->
        <!--    </template>-->
        <template v-slot:item.action="{ item }">
          <v-btn small class="mr-2" :class="tableButton.color" v-for="tableButton of tableButtonList"
            @click="doUiAction(tableButton.action, {item})">
            {{ tableButton.text }}
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}

{% include 'component/vueJsonEditor.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      isMobile: window.innerWidth < 600,
      // 表格相关数据
      language: '<$ language $>',
      isFormValid: true,
      requireRules: [
        v => !!v || 'This is required',
      ],
      constantCollection: {
      },

      serverSearchInput: {
        studentId: null,
        classId: null
      },
      currentTableGenderType: 'all',
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      tableData: [],
      headers: [
        { text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed' },

        { text: "constantKey", value: "constantKey", width: 120 },
        { text: "常量类型", value: "constantType", width: 120 },
        { text: "页面id", value: "pageId", width: 120 },
        { text: "描述", value: "desc", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],

      currentClickButton: { title: '新增', action: 'add' },
      editItem: {},
      tableButtonList: [
        { text: '修改', buttonType: 'edit', color: 'success', action: 'updateItem' },
        { text: '删除', buttonType: 'delete', color: 'error', action: 'deleteItem' },
      ],
      dialogSaveInfoAction: '',
      jsonError: false,
      jsonConstantTypeList: ['object', 'array']
    }),
    computed: {},
    watch: {},
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, actionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(actionData);
            break;
          case 'createItem':
            await this.doCreateItem(actionData);
            break;
          case 'updateItem':
            await this.doUpdateItem(actionData);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog(actionData);
            await this.doDeleteItem(actionData);
            await this.refreshTableData(actionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /** 
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
       * main:   [{"function":"refreshTableData"}]
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'constantUiManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: {},
              whereLike: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;

        for (const item of rows) {
          if (this.jsonConstantTypeList.includes(item.constantType)) {
            item[this.language] = JSON.parse(item[this.language]);
          }
          // item[this.language] = ['obje'] item.constantType JSON.parse()
        }
        this.tableDataFromBackend = rows;
        this.tableData = rows;
        this.isTableLoading = false;
      },

      /** 
       * uiActionId:  startCreateItem
       * description: ✅打开创建数据抽屉
       * main:   [{"function":"doCreateItem"}]
      */
      async doCreateItem() {
        window.location.href = `/${window.appInfo.appId}/page/constantUiEditor?type=add`;
      },

      /** 
       * uiActionId:  startUpdateItem
       * description: ✅打开更新数据抽屉
       * main:   [{"function":"doUpdateItem"},{"function":"openUpdateItemDialog"}]
      */
      async doUpdateItem({ item }) {
        sessionStorage.setItem('constantUiItem', JSON.stringify(item))
        window.location.href = `/${window.appInfo.appId}/page/constantUiEditor?type=edit`;
      },

      /** 
       * uiActionId:  deleteItem
       * description: ✅删除数据
       * before: [{"function":"confirmDeleteItemDialog"}]
       * main:   [{"function":"doDeleteItem"},{"function":"getTableData"}]
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },

      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'constantUiManagement',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      getConstantCollectionItemText(key, _value) {
        const constantCollectionItemFind = this.constantCollection[key].find(({ value }) => value === _value);
        if (constantCollectionItemFind) {
          return constantCollectionItemFind.text;
        }
        return value;
      }
    }
  })
</script>

<style scoped>
</style>
{% endblock %}